@model Resetpassword;
@{
    ViewData["Title"] = "Reset Password";
    Layout = null;
    var msgSus = TempData["SuccessMessage"] ?? string.Empty;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Lorax - Bootstrap 4 Admin Dashboard Template</title>
    <!-- Favicon-->
    <link rel="icon" href="~/b-assets/images/favicon.ico" type="image/x-icon">

    <!-- Plugins Core Css -->
    <link href="~/b-assets/css/app.min.css" rel="stylesheet">

    <!-- Custom Css -->
    <link href="~/b-assets/css/style.css" rel="stylesheet" />
    <link href="~/b-assets/css/pages/extra_pages.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <style>
        /* The message box is shown when the user clicks on the password field */
        #message {
            display: none;
            background: #f1f1f1;
            color: #000;
            position: relative;
            padding: 20px;
            margin-top: 10px;
        }

            #message p {
                padding: 10px 35px;
                font-size: 18px;
            }

        /* Add a green text color and a checkmark when the requirements are right */
        .valid {
            color: green;
        }

            .valid:before {
                position: relative;
                left: -35px;
                content: "✔";
            }

        /* Add a red text color and an "x" when the requirements are wrong */
        .invalid {
            color: red;
        }

            .invalid:before {
                position: relative;
                left: -35px;
                content: "✖";
            }
    </style>
    <script>
        window.onload = function () {
            var myInput = document.getElementById("Password");
            var letter = document.getElementById("letter");
            var capital = document.getElementById("capital");
            var number = document.getElementById("number");
            var length = document.getElementById("length");

            // When the user clicks on the password field, show the message box

            myInput.onfocus = function () {
                document.getElementById("message").style.display = "block";
            }

            // When the user clicks outside of the password field, hide the message box
            myInput.onblur = function () {
                document.getElementById("message").style.display = "none";
            }


            // When the user starts to type something inside the password field
            myInput.onkeyup = function () {
                ValidatePassword();
            }
            function ValidatePassword() {
                var validatePassword = true;
                jQuery('#hdnPass').val('');
                // Validate lowercase letters
                var lowerCaseLetters = /[a-z]/g;
                if (myInput.value.match(lowerCaseLetters)) {
                    letter.classList.remove("invalid");
                    letter.classList.add("valid");
                } else {
                    letter.classList.remove("valid");
                    letter.classList.add("invalid");
                    validatePassword = false;
                }

                // Validate capital letters
                var upperCaseLetters = /[A-Z]/g;
                if (myInput.value.match(upperCaseLetters)) {
                    capital.classList.remove("invalid");
                    capital.classList.add("valid");
                } else {
                    capital.classList.remove("valid");
                    capital.classList.add("invalid");
                    validatePassword = false;
                }

                // Validate numbers
                var numbers = /[0-9]/g;
                if (myInput.value.match(numbers)) {
                    number.classList.remove("invalid");
                    number.classList.add("valid");
                } else {
                    number.classList.remove("valid");
                    number.classList.add("invalid");
                    validatePassword = false;
                }

                // Validate length
                if (myInput.value.length >= 8) {
                    length.classList.remove("invalid");
                    length.classList.add("valid");
                } else {
                    length.classList.remove("valid");
                    length.classList.add("invalid");
                    validatePassword = false;
                }
                var ab = jQuery('#hdnPass').val(validatePassword);
                return validatePassword;
            }

        }
        
        function validateform() {
            
            var passData = jQuery('#Password').val()
            var ConfirmPassData = jQuery('#ConfirmPassword').val()

            var Confirmpass = jQuery('#hdnPass').val();
            var isValidPass = Confirmpass;
            if (isValidPass == 'false') {
                alert('Password must contain the following: A Lowerecase letter, A Capital (uppercase) letter,A number,Minimum 8 characters');
                return false;
            }
            if (passData) {
                if (passData.length < 3) {
                    alert('Password lenghth should be greater than 3');
                    return false;
                }
            }
            if (ConfirmPassData) {
                if (passData != ConfirmPassData)
                {
                    alert('Password and confirm password should be matching');
                    return false;
                }
            }
        }

    </script>
    <style>
        .login-btn-outter-sec {
        }

            .login-btn-outter-sec .log-btn {
                display: block;
                color: #000;
                background: #ff9900;
                padding: 10px 30px;
                border-radius: 2px;
                font-size: 18px;
                font-weight: 500;
                text-transform: capitalize;
                border: 0;
                margin: auto;
            }

        #message {
            padding: 6px 20px;
            margin:auto;
        }
        #message p {
            padding: 0px 30px;
            font-size: 13px;
        }
    </style>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9Y350DCZ35"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-9Y350DCZ35');
</script>
<body class="login-page">
    <div class="limiter">
        <div class="container-login100 page-background">
            <div class="wrap-login100">
                <form class="login100-form validate-form" asp-action="Resetpassword">
                    <span class="cus-login-logo">
                        <img alt="logo" src="~/b-assets/images/Logo Master Horiz Clear White.png" />
                    </span>
                    <span class="login100-form-title p-b-34 p-t-27">
                        New Password
                    </span>
                    <div class="text-success text-center" id="success-login-container">
                        @msgSus
                    </div>
                    <div class="row">
                        <div class="col-lg-6 p-t-20">
                            <div class="wrap-input100 validate-input mb-3" data-validate="Enter password">
                                @*	<input class="input100" type="password" asp-for="Password" id="Password" placeholder="New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>*@
                                <input onchange="validateform()" class="input100" type="password" asp-for="Password" id="Password" placeholder="New Password">
                                <i class="material-icons focus-input1001">person</i>
                                <input type="hidden" id="hdnPass" />
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="wrap-input100 validate-input mb-3" data-validate="Enter password again">
                                <input onchange="validateform()" class="input100" type="password" asp-for="ConfirmPassword" placeholder="Confirm password">
                                <i class="material-icons focus-input1001">person</i>
                            </div>
                        </div>
                        <div classs="col-lg-6 p-t-20 pass-msg" id="message">
                            <h6>Password must contain the following:</h6>
                            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                            <p id="number" class="invalid">A <b>number</b></p>
                            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                        </div>
                        <input type="hidden" asp-for="Email" class="form-control" />
                        <input type="hidden" asp-for="Token" class="form-control" />
                    </div>
                    <div class="container-login100-form-btn login-btn-outter-sec mt-3">
                        <button class=" log-btn">
                            Submit
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- Plugins Js -->

    <script src="~/b-assets/js/app.min.js"></script>

    <!-- Extra page Js -->
    <script src="~/b-assets/js/pages/examples/pages.js"></script>
</body>
</html>
