<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name="LogSource" value="PCNW APP" />
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target name="allfile" xsi:type="File"
        fileName="${basedir}/Logs/PCNWLog.txt"
        archiveFileName="${basedir}/Logs/PCNWLog.{#}.txt"
        archiveAboveSize="500000000"
        archiveNumbering="DateAndSequence"
        archiveEvery="Day"
        archiveDateFormat="yyyyMMdd"
        deleteOldFileOnStartup="false">
        <layout type='JsonLayout' renderEmptyObject='true' >
          
        <attribute name='LogSource' layout='${LogSource}' encode='false'  />
        <attribute name='LogDateTime' layout='${longdate:universalTime=false}' encode='false' />
        <attribute name='LogType' layout='${level:upperCase=true}' encode='false' />
        <attribute name='IPAddress' layout='${aspnet-Request-Ip}' encode='false' />
        <attribute name='querystring' layout='${aspnet-request-querystring:QueryStringKeys=key1:OutputFormat=JSON}' encode='false' />
        <attribute name='referrer' layout='${aspnet-request-referrer}' encode='false' />
        <attribute name='useragent' layout='${aspnet-request-useragent}' encode='false' />
        <attribute name='sitename' layout='${iis-site-name}' encode='false' />
        <attribute name='requesturl' layout='${aspnet-request-url:IncludePort=true:IncludeQueryString=true}' encode='false'/>
        <attribute name='requesthost' layout='${aspnet-request-host}' encode='false'/>
        <attribute name='requestmethod' layout='${aspnet-request-method}' encode='false'/>

          
        <attribute name='nested' encode='false' >
          <layout type='JsonLayout' >
            <attribute name='LogMessage' layout='${message}' encode='false'/>
            <attribute name='LogException' layout='${exception}'  encode='false'/>
          </layout>
        </attribute>
        
      </layout>
    </target>
  </targets>


  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs which are greater then warnning from Microsoft-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="allfile" >
       <filters defaultAction='Log'>
        <when condition="length('${message}') > 10000" action="Ignore" />
      </filters>
    </logger>
     <!--All Blank logs-->
    <logger name="PCNW.*" minlevel="Trace" writeTo="allfile" >
      <filters defaultAction='Log'>
        <when condition="length('${message}') > 10000" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>