@{
    ViewData["Title"] = "InCompleteMembers";
    Layout = "~/Views/Shared/_Layout-Reports.cshtml";
}
@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"></script>
    <script>
        $(document).ready(function () {
            $('#btnExp').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });
        });
    </script>
}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">InCompleteSignUp Members</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="/Report/Dashboard">Reports</a>
                        </li>
                        <li class="breadcrumb-item active">Marketing Reports</li>
                        <li class="breadcrumb-item active">InCompleteSignUp</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>InCompleteSignUp Members Report</strong>
                        </h2>
                    </div>
                    <div class="body">

                        <div class="table-responsive cus-">
                            <table id="btnExp" class="table-bordered display table table-hover table-checkable order-column m-t-20 width-per-100 mTables">
                                <thead>
                                    <tr>
                                        <th>Company</th>
                                        <th>Company Phone No.</th>
                                        <th>Contact Person</th>
                                        <th>Contact Email</th>
                                        <th>Contact Phone</th>
                                        <th>Address</th>
                                    </tr>
                                </thead>
                                <tbody class="active-table-body" id="tblInCompleteMember">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>




