
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <div class="text-danger">
        <h1 class="text-danger">Access Denied</h1>
        <h6 class="text-danger">You do not have permission to view this resource</h6>
    </div>
</div>

