
@{
    ViewData["Title"] = "Find Project Here";
    Layout = "~/Views/Shared/_Layout-Home.cshtml";

}

<section class="mainsection">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pageheading">
                    <h1>Find Project Here</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="filtersec">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-5">
                            <div class="serchfrm">
                                <form>
                                    <div class="form-group mb-0">
                                        <i class="fa fa-search"></i>
                                        <input type="text" name="search" placeholder="Search Project here"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="filterfrms d-flex justify-content-end">
                                <div class="dropdown show mr-3">
                                  <a class="btns srtbtn dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown">
                                   <i class="fa fa-sort"></i> Sort
                                  </a>

                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <div class="drpsec">
                                        <h4>Sort by State</h4>
                                        <ul>
                                            <li><input type="checkbox" /> <label>CA</label></li>
                                            <li><input type="checkbox" /> <label>CA</label></li>
                                            <li><input type="checkbox" /> <label>CA</label></li>
                                            <li><input type="checkbox" /> <label>CA</label></li>
                                            <li><input type="checkbox" /> <label>CA</label></li>
                                            <li><input type="checkbox" /> <label>CA</label></li>
                                            <li><input type="checkbox" /> <label>CA</label></li>
                                            <li><input type="checkbox" /> <label>CA</label></li>
                                            <li><input type="checkbox" /> <label>CA</label></li>
                                            <li><input type="checkbox" /> <label>CA</label></li>
                                        </ul>
                                        <div class="drpbtn">
                                            <button>Reset</button>
                                            <button>Apply</button>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="dropdown show mr-3">
                                    <a class="btns srtbtn dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown">
                                        <i class="fa fa-filter"></i> Filter
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                                <div class="dropdown show mr-3">
                                    <a class="btns srtbtn dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown">
                                        <i class="fa fa-calendar"></i> Calendar
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                                <button class="btns serchbtn mr-3">Search</button>
                                <button class="btns serchbtn scndclr">Save Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-4">
                    <div class="card-title">
                        Active Project
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Project Type</th>
                                <th scope="col">Project Title</th>
                                <th scope="col">Location</th>
                                <th scope="col">Deadline</th>
                                <th scope="col">Add to Dashboard</th>
                                <th scope="col">Addenda</th>
                                <th scope="col">Confiremd Bidding</th>
                                <th scope="col">Member Tracking Project</th>
                                <th scope="col">Current Plan</th>
                            </tr>
                        </thead>
                        <tbody>
                              <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Mko</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Otto</td>
                            </tr>
                              <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Mko</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Otto</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="card mt-4">
                    <div class="card-title">
                        Active Project
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Project Type</th>
                                <th scope="col">Project Title</th>
                                <th scope="col">Location</th>
                                <th scope="col">Deadline</th>
                                <th scope="col">Add to Dashboard</th>
                                <th scope="col">Addenda</th>
                                <th scope="col">Confiremd Bidding</th>
                                <th scope="col">Member Tracking Project</th>
                                <th scope="col">Current Plan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Mko</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Mko</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Mko</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Mko</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Mko</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Mko</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Otto</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card mt-4">
                    <div class="card-title">
                        Active Project
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Project Type</th>
                                <th scope="col">Project Title</th>
                                <th scope="col">Location</th>
                                <th scope="col">Deadline</th>
                                <th scope="col">Add to Dashboard</th>
                                <th scope="col">Addenda</th>
                                <th scope="col">Confiremd Bidding</th>
                                <th scope="col">Member Tracking Project</th>
                                <th scope="col">Current Plan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Mko</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Mko</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Mko</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Mko</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Mko</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Mko</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Mdo</td>
                                <td>Otto</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

