@model List<string>;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewDoc</title>
</head>
<body>
    @{
        string OrderID = Model[Model.Count - 1];
    }
    @foreach (var item in Model)
    {
        <iframe src='/Storage/@OrderID/@item' width="100%" height="650px"></iframe>
    }
</body>
</html>
