
@{
    ViewData["Title"] = "Careers";
Layout = "~/Views/Shared/_Layout-Home.cshtml";
}
<style>
    .adv-email {
        font-size: 20px;
        font-family: monospace;
        font-weight: 600;
    }

    .page-heading h3 {
        color: #fff;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 15px;
        z-index: 1;
    }
</style>
 <section class="vc_row bg-cover pt-70 pb-20 d-flex flex-wrap align-items-center bg-none liquid-parallax-bg"
         style="background-image: url('~/assets/images/header-hm-back.jpg');"
         data-parallax="true"
         data-parallax-options="{&quot;parallaxBG&quot;: true, &quot;overflowHidden&quot;: true}">
        <div class="liquid-parallax-container">
            @*<figure class="liquid-parallax-figure"
                style="height: 140%; background-image: url('~/assets/images/header-hm-back.jpg');">
            </figure>*@
            <figure class="liquid-parallax-figure">
                <img src="~/assets/images/header-hm-back.jpg" style="width: 100%;  height: 140%;"/>
            </figure>
        </div>
    <div class="overlay"></div>
    <div class="container">
            <div class="row d-flex flex-wrap align-items-center pt-5" id="AboutUs">

            <div class="lqd-column col-md-12 col-xs-12">

                <div class=" cus-head text-center page-heading">
                    <h3 class="my-3" data-fittext="true"
                        data-fittext-options="{&quot;compressor&quot;:0.6,&quot;maxFontSize&quot;:100,&quot;minFontSize&quot;:40}"
                        style="">
                        Careers
                    </h3>
                </div><!-- /.ld-fancy-heaading -->
                </div><!-- /.lqd-column col-md-9 col-xs-12 -->
            </div><!-- /.row -->


        </div><!-- /.container -->

        <div class="lqd-sticky-sentinel invisible pos-abs" style="top: auto; bottom: 111px;"></div>
    </section>

<section class="vc_row pt-95 pb-95" style="background: #f4f4f4;">

    <div class="container" style="min-height: 50vh;">

            <div class="row">
                <div class="lqd-column col-lg-6 col-md-6 mb-200 mb-md-0">
                    <div class="lqd-column">
                        <div class="ld-fancy-heading text-uppercase">
                        <h1 class="adv-email">There are no <span style="color: #ff9900;">positions</span> available at this time</h1>
                        </div>
                    </div>
                    <hr class="border-color-primary border-width-2 w-10 ml-0 mt-2" style="margin-bottom: 0px;">
                </div><!-- /.lqd-column col-lg-5 col-md-6 -->

            </div><!-- /.row -->

        </div><!-- /.container -->

    </section>