
@{
    ViewData["Title"] = "Confirm Status";
}
<!DOCTYPE html>
<html lang="en"
      class="csspositionsticky supports backgroundblendmode objectfit object-fit backgroundcliptext cssfilters cssmask backdropfilter">

    
<body>
<h1 id="Status"></h1>
<h1>@ViewBag.Message</h1>
</body>
</html>