@model IEnumerable<ProjectSubTypeViewModel>
@{
    ViewData["Title"] = "Project Sub Type Master";
    Layout = "~/Views/Shared/_Layout-SuperAdmin.cshtml";
}
@section Scripts{
    <script src="~/js/project-sub-type-master.js"></script>
}
@section CustomCSS{
    <style>
        .text-right .cus-pro-type .fa-plus {
            font-size: 14px !important;
        }

        a.btn.cus-pro-type {
            padding: 10px;
            background: #ff9900;
            font-weight: bold;
        }

        .cus-edit-icon {
            padding: 5px 8px;
            background: #ff9a27;
            border-radius: 5px;
        }

        .loginError {
            color: red;
            font-size: 13px;
        }

        .modl-btn.save {
            border: none;
            background: #ff9a27;
            padding: 8px 20px;
            border-radius: 5px;
        }
    </style>
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Project Sub Type</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="/GlobalMaster/Dashboard">Admin</a>
                        </li>
                        <li class="breadcrumb-item active">Project Information</li>
                        <li class="breadcrumb-item active">Project Sub Type</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- search cards  -->
        <!-- #END# search cards  -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header text-right ">
                        <a href="#" class="btn cus-pro-type" onclick="OpenPrintModel1()">
                            <i class=" fa fa-plus mx-1"></i>
                            Add Project Sub Type
                        </a>
                        <div class="modal m-modal fade" id="table-Modal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header cusModal-Header">
                                        <h4 class="modal-title card-label font-weight-bolder" id="orderform-head">
                                            Save / Update Details
                                        </h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="frmPrintForm1" action="" class="col-md-12 order-form text-left" autocomplete="on">
                                            <div class="formCls">
                                                <span id="message" class="loginError"></span>
                                                <div class="form-group row mb-3">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                                        Project Sub Type<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <input type="hidden" id="ProjSubTypeID" name="ProjSubTypeID" value="0" />
                                                        <input class="form-control form-control-solid " type="text"
                                                               value="" placeholder="Project Sub Type" id="ProjSubType" name="ProjSubType" autocomplete="on" />
                                                        <span class="loginError"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">
                                                        Project Type ID<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-9 col-xl-9">
                                                        <input class="form-control number-only" type="text"
                                                               value="" placeholder="Project Type ID" id="ProjTypeID" name="ProjTypeID" autocomplete="on" onchange="validateform()" onkeypress="return /[0-9]/i.test(event.key)" />
                                                        <span class="loginError"></span>
                                                    </div>
                                                </div>
                                                <div class="dropdown col-lg-9 col-xl-9 mb-lg-0 mt-3 pl-0">
                                                    <input style="opacity:1" type="checkbox" id="IsActive" name="IsActive" /><label for="IsActive" style="line-height:14px; padding-left:18px">&nbsp;IsActive</label>
                                                    <span class="loginError"></span>
                                                </div>

                                                <div class="form-group mb-3 text-right">
                                                    <button id="next-btn" class="newProbtn modl-btn save" onclick="return SaveProjectSubType()">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="body">
                        <div class="table-responsive cus-">
                            <table id="" class="table-bordered display table table-hover table-checkable order-column m-t-20 width-per-100 pTables">
                                <thead>
                                    <tr>
                                        <th class="text-left">Project Sub Type</th>
                                        <th class="w-10">Proj Type ID</th>
                                        <th class="w-10">Status</th>
                                        <th class="w-10">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tblSubBody" class="active-table-body">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>